# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data and large files
data/tiny-imagenet-200/
data/frames/
outputs/weights/
*.mp4
*.avi
*.mkv

# Environments
.venv/
venv/
ENV/
env.bak/
env/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
commands.txt
